desktop.ini
Negative_Sampling_Exercise.ipynb
Negative_Sampling_Solution.ipynb
Skip_Grams_Solution.ipynb
Embed_Vect_Model.pt
utils.py
Neg_Samp_Model.pt
.ipynb_checkpoints/
__pycache__/
__pycache__ (1)/